@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sessions";
  src: url("../public/assets/fonts/Sessions.ttf.woff") format("woff"),
    url("../public/assets/fonts/Sessions.ttf.svg#Sessions") format("svg"),
    url("../public/assets/fonts/Sessions.ttf.eot"),
    url("../public/assets/fonts/Sessions.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/assets/fonts/Poppins-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/assets/fonts/Poppins-SemiBold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/assets/fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/assets/fonts/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/assets/fonts/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/assets/fonts/Poppins-Light.ttf");
  font-weight: 300;
}

* {
  font-family: "Poppins";
}

.font-perigon {
  font-family: "Sessions";
}

ion-content {
  --background: #f2f2f2;
}

ion-input {
  --padding-bottom: 0px !important;
  --padding-top: 0px !important;
  margin-top: -14px;
}




/* Toolbar Header */
ion-toolbar {
  --background: black;
  --color: white;
  --padding-top: 20px;
  --padding-bottom: 10px;
}


/* Tab Bar Menu */
.tab-selected ion-label {
  font-weight: 900 !important;
}


